repo/ExternalIdentityManagement/IdentityWorkflow/bkaAutoRejection/SOA/wsdl/rejection-process.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RejectionProcess"
									targetNamespace="http://xmlns.oracle.com/auto-rejection/reject"
									xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
									xmlns:client="http://xmlns.oracle.com/auto-rejection/reject"
									xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and
	output to the BPEL Process. But you can define or import any XML
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/auto-rejection/reject" schemaLocation="../schema/rejection-process.xsd" />
		</schema>
	</wsdl:types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<wsdl:message name="RejectionProcessRequestMessage">
		<wsdl:part name="payload" element="client:process"/>
	</wsdl:message>

	<wsdl:message name="RejectionProcessResponseMessage">
		<wsdl:part name="payload" element="client:processResponse"/>
	</wsdl:message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the RejectionProcess BPEL process -->
	<wsdl:portType name="RejectionProcess">
		<wsdl:operation name="process">
			<wsdl:input message="client:RejectionProcessRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- portType implemented by the requester of RejectionProcess BPEL process
	for asynchronous callback purposes
	-->
	<wsdl:portType name="RejectionProcessCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:RejectionProcessResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the RejectionProcess partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="RejectionProcess">
		<plnk:role name="RejectionProcessProvider" portType="client:RejectionProcess"/>
		<plnk:role name="RejectionProcessRequester" portType="client:RejectionProcessCallback"/>
	</plnk:partnerLinkType>
</wsdl:definitions>
