repo/OracleConsultingServices12c/IdentityWorkflow/ocsCatalogApproverDefault/SOA/schema/callback-service.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.4. -->
<xsd:schema xmlns:xsd      ="http://www.w3.org/2001/XMLSchema" version="1.0"
            xmlns:tns      ="http://wls.ws.workflowservice.platform.iam.oracle/"
            targetNamespace="http://wls.ws.workflowservice.platform.iam.oracle/">
  <xsd:element name="callback" type="tns:callback"/>
  <xsd:element name="callbackResponse" type="tns:callbackResponse"/>
  <xsd:complexType name="callback">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="callbackResponse">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="CallbackFault">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>