repo/OracleConsultingServices12c/IdentityWorkflow/ocsApprovalTemplate/SOA/schema/business-rule.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema xmlns             ="http://www.w3.org/2001/XMLSchema"
        xmlns:tns         ="http://oracle.businessrule"
        targetNamespace   ="http://oracle.businessrule"
        elementFormDefault="qualified">
  <element name="StageOutput" type="tns:stage"/>
  <complexType name="stage">
    <sequence>
      <element name="stageType" type="string"/>
    </sequence>
  </complexType>
</schema>