repo/OracleConsultingServices12c/IdentityWorkflow/ocsCatalogApproverRole/SOA/schema/approval-task-payload.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/request/RequestDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xmlns.oracle.com/request/RequestDetails" schemaLocation="approval-request.xsd"/>
   <complexType name="approvalPayloadType">
      <sequence>
         <element name="RequestID"              type="xsd:string"/>
         <element name="RequestModel"           type="xsd:string"/>
         <element name="RequestTarget"          type="xsd:string"/>
         <element name="url"                    type="xsd:string"/>
         <element ref="ns0:RequesterDetails"/>
         <element ref="ns0:BeneficiaryDetails"/>
         <element ref="ns0:ObjectDetails"/>
         <element ref="ns0:OtherDetails"/>
         <element name="RequestTarget"          type="xsd:string"/>
         <element name="RequesterDisplayName"   type="xsd:string"/>
         <element name="BeneficiaryDisplayName" type="xsd:string"/>
         <element name="Requester"              type="xsd:string"/>
         <element name="Approver"               type="xsd:string"/>
      </sequence>
   </complexType>
</schema>