repo/OracleConsultingServices12c/IdentityWorkflow/ocsCatalogApproverEntitlement/SOA/schema/approval-task.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" xmlns:evidence="http://xmlns.oracle.com/bpel/workflow/TaskEvidenceService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" blockDefault="#all" elementFormDefault="qualified">
  <xsd:include xmlns="" schemaLocation="approval-task-payload.xsd"/>
  <xsd:annotation>
    <xsd:appinfo>
      <jaxb:globalBindings generateElementProperty="false"/>
      <jaxb:schemaBindings>
        <jaxb:package name="oracle.bpel.services.workflow.task.model"/>
      </jaxb:schemaBindings>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:import namespace="http://xmlns.oracle.com/bpel/workflow/TaskEvidenceService" schemaLocation="oramds:///soa/shared/workflow/TaskEvidenceService.xsd"/>

  <xsd:element name="task">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string" minOccurs="0"/>
        <xsd:element name="payload" type="tns:approvalPayloadType" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="taskDefinitionURI" type="xsd:string" minOccurs="0"/>
        <!-- Deprecated: Use taskDefinitionId instead -->
        <xsd:element name="creator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerUser" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerGroup" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerRole" type="xsd:string" minOccurs="0"/>
        <xsd:element name="priority" type="tns:priorityType" minOccurs="0"/>
        <xsd:element name="packageName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="identityContext" type="xsd:string" minOccurs="0"/>
        <xsd:element name="userComment" type="tns:commentType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="attachment" type="tns:attachmentType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="document" type="tns:documentType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="processInfo" type="tns:processType" minOccurs="0"/>
        <xsd:element name="systemAttributes" type="tns:systemAttributesType" minOccurs="0"/>
        <xsd:element name="systemMessageAttributes" type="tns:systemMessageAttributesType" minOccurs="0"/>
        <xsd:element name="titleResourceKey" type="xsd:string" minOccurs="0"/>
        <xsd:element name="callback" type="tns:callbackType" minOccurs="0"/>
        <xsd:element name="identificationKey" type="xsd:string" minOccurs="0"/>
        <xsd:element name="category" type="xsd:string" minOccurs="0"/>
        <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="dueDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="isPublic" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="percentageComplete" type="xsd:double" minOccurs="0"/>
        <xsd:element name="sca" type="tns:scaType" minOccurs="0"/>
        <xsd:element name="applicationContext" type="xsd:string" minOccurs="0"/>
        <xsd:element name="evidence" type="evidence:EvidenceType" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="taskDefinitionId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="subcategory" type="xsd:string" minOccurs="0"/>
        <xsd:element name="taskDisplayUrl" type="xsd:string" minOccurs="0"/>
        <xsd:element name="documentPackageId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="correlationId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mdsLabel" type="xsd:string" minOccurs="0"/>
        <xsd:element name="creatorDisplayName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerUserDisplayName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerGroupDisplayName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ownerRoleDisplayName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customAttributes" type="tns:customAttributesType" minOccurs="0"/>
        <xsd:element name="shortSummary" type="xsd:string" minOccurs="0"/>
        <xsd:element name="longSummary" type="xsd:string" minOccurs="0"/>
        <xsd:element name="notificationMode" type="tns:taskNotificationMode" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="comment" type="tns:commentType"/>
  <xsd:complexType name="commentType">
    <xsd:sequence>
      <xsd:element name="comment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="updatedBy" type="tns:identityType" minOccurs="0"/>
      <xsd:element name="updatedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="displayNameLanguage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="action" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemVersionFlag" type="xsd:string" minOccurs="0"/>
      <xsd:element name="acl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="doesBelongToParent" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isSystemComment" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="taskId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="commentScope" type="tns:scopeTypeEnum" minOccurs="0"/>
      <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation" type="tns:operationTypeEnum" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="processType">
    <xsd:sequence>
      <xsd:element name="domainId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="instanceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="processId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="processName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="processType" type="tns:processTypeEnum" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="processVersion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scaType">
    <xsd:sequence>
      <xsd:element name="applicationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="componentName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="compositeDN" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="compositeInstanceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="compositeName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="compositeVersion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ecId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parentComponentInstanceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parentComponentInstanceRefId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="headerProperties" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="invokedComponent" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
              Records the component invoked to create this Task version instance.
              E.g. the decision component invoked for advanced routing rules.
            </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="compositeCreatedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="componentInstanceId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="flowId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="scaPartitionId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="processTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BPEL"/>
      <xsd:enumeration value="OWF"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="callbackType">
    <xsd:sequence>
      <xsd:element name="context" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
      <xsd:element name="converstationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="attachment" type="tns:attachmentType"/>
  <xsd:complexType name="attachmentType">
    <xsd:sequence>
      <xsd:element name="content" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mimeType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="updatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="URI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemVersionFlag" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taskId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="version" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="acl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="doesBelongToParent" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="updatedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="correlationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="size" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="storageType" type="tns:storageTypeEnum" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ucmDocType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="securityGroup" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="account" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="revision" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="releaseDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="expirationDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ucmMetadataItem" type="tns:ucmMetadataItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="attachmentScope" type="tns:scopeTypeEnum" minOccurs="0"/>
      <xsd:element name="isContentEncoded" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="updatedByDisplayName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation" type="tns:operationTypeEnum" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ucmMetadataItemType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="type" type="tns:metadataTypeEnum" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="scopeTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TASK"/>
      <xsd:enumeration value="PARENT_TASK"/>
      <xsd:enumeration value="BPM"/>
      <xsd:enumeration value="CASE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="operationTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADD"/>
      <xsd:enumeration value="UPDATE"/>
      <xsd:enumeration value="DELETE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="storageTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TASK"/>
      <xsd:enumeration value="UCM"/>
      <xsd:enumeration value="URL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="metadataTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DATE"/>
      <xsd:enumeration value="STRING"/>
      <xsd:enumeration value="NUMBER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="document" type="tns:documentType"/>
  <xsd:complexType name="documentType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="content" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mimeType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="URI" type="xsd:string"/>
      <xsd:element name="updatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="updatedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="ucmDocumentType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UUID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="identityType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="type" type="tns:identityTypeEnum" minOccurs="0"/>
      <xsd:element name="systemVersionFlag" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="identityTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="user"/>
      <xsd:enumeration value="group"/>
      <xsd:enumeration value="application_role"/>
      <xsd:enumeration value="position"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="hiddenAttributesType">
    <xsd:sequence>
      <xsd:element name="isCreatorHidden" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="creatorCustomText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="isAutoApproval" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="systemAttributesType">
    <xsd:sequence>
      <xsd:element name="accessKey" type="xsd:string" minOccurs="0"/>
      <xsd:element name="acquiredBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="approvalDuration" type="xsd:long" minOccurs="0"/>
      <xsd:element name="approvers" type="xsd:string" minOccurs="0"/>
      <xsd:element name="assignedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="assigneeGroups" type="tns:identityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="assigneeUsers" type="tns:identityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="createdDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="customActions" type="tns:actionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="digitalSignatureRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="displayInfo" type="tns:displayInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="elapsedTime" type="xsd:long" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="expirationDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="fromUser" type="tns:identityType" minOccurs="0"/>
      <xsd:element name="hasSubTasks" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="inShortHistory" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isGroup" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mailStatus" type="tns:mailStatusEnum" minOccurs="0"/>
      <xsd:element name="numberOfTimesModified" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="originalAssigneeUser" type="xsd:string" minOccurs="0"/>
      <xsd:element name="outcome" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parallelOutcomeCount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="passwordRequiredOnUpdate" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="pushbackSequence" type="xsd:string" minOccurs="0"/>
      <xsd:element name="secureNotifications" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="shortHistory" type="tns:shortHistoryType" minOccurs="0"/>
      <xsd:element name="state" type="tns:stateEnum" minOccurs="0"/>
      <xsd:element name="substate" type="tns:substateEnum" minOccurs="0"/>
      <xsd:element name="systemActions" type="tns:actionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="systemString1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemString2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemString3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taskGroupId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taskId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taskNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="updatedBy" type="tns:identityType" minOccurs="0"/>
      <xsd:element name="updatedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="version" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="versionReason" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taskDefinitionId" type="xsd:string" minOccurs="0"/>
      <!-- This is deprecated and moved as an attribute that can be set by clients -->
      <xsd:element name="taskDefinitionName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="workflowPattern" type="xsd:string" minOccurs="0"/>
      <xsd:element name="isTestTask" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="participantName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="readByUsers" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reviewers" type="tns:identityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="assignees" type="tns:identityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="taskGroupInstanceId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="subTaskGroupInstanceId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parentTaskVersion" type="xsd:integer" minOccurs="0"/>
      <!-- Activity Guide elements -->
      <xsd:element name="agRootId" type="xsd:long" minOccurs="0"/>
      <xsd:element name="agMileStonePath" type="xsd:string" minOccurs="0"/>
      <xsd:element name="rootTaskId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parentTaskId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemStringActions" type="xsd:string" minOccurs="0"/>
      <xsd:element name="restrictedActions" type="tns:actionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="updatedNotificationId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="stage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="assignmentContext" type="tns:assignmentContextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="tns:collectionTarget" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="preActionUserSteps" type="tns:preActionUserStepsType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="aggregationTaskId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="isTemplateTask" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="taskViewContext" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="taskNamespace" type="xsd:string" minOccurs="0"/>
      <xsd:element name="actionDisplayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="timers" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="componentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="activityName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="activityId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="processDueDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="thread" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parentThread" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="step" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="visibilityRuleConditionValues" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="isPartialTask" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="organizationalUnitId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tenantId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="listBuilderId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="caseId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="organizationalUnitName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="swimlaneRole" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="excludedParticipants" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="timersSuspended" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
      <xsd:element name="tenantIdNumber" type="xsd:long" minOccurs="0" maxOccurs="1" default="-1"/>
      <xsd:element name="taskAgeFromCreatedDate" type="xsd:duration" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="taskAgeFromAssignedDate" type="xsd:duration" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="taskTimeRemaining" type="xsd:duration" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="isDecomposedTask" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false"/>
      <xsd:element name="formName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="decomposedTaskGroupInstanceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="startTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="stopTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="workingDuration" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="acquiredByDisplayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="originalAssigneeUserDisplayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="approversDisplayNames" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="imageUrl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="hiddenAttributes" type="tns:hiddenAttributesType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="collectionTarget" type="tns:collectionTargetType"/>
  <xsd:complexType name="collectionTargetType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="xpath" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="collectionName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="tns:collectionTargetTypeEnum" minOccurs="1" maxOccurs="1"/>
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="targetIndex" type="xsd:integer"/>
        <xsd:element ref="tns:keyList"/>
      </xsd:choice>
      <xsd:element name="referencedTaskId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="taskAggregationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="action" type="tns:collectionTargetActionType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="displayName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="collectionTargetTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PRIMARY"/>
      <xsd:enumeration value="AGGREGATED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="keyList" type="tns:keyListType"/>
  <xsd:complexType name="keyListType">
    <xsd:sequence>
      <xsd:element name="key" type="tns:keyType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="keyType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="collectionTargetActionType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="params" type="xsd:string" use="optional"/>
        <xsd:attribute name="completed" type="xsd:boolean" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="actionType">
    <xsd:sequence>
      <xsd:element name="action" type="xsd:string" minOccurs="0"/>
      <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="shortHistoryType">
    <xsd:sequence>
      <xsd:element name="task" type="tns:shortHistoryTaskType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="shortHistoryTaskType">
    <xsd:sequence>
      <xsd:element name="state" type="xsd:string" minOccurs="0"/>
      <xsd:element name="outcome" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comments" type="xsd:string" minOccurs="0"/>
      <xsd:element name="updatedBy" type="tns:identityType" minOccurs="0"/>
      <xsd:element name="updatedDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="version" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="versionReason" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="displayInfoType">
    <xsd:sequence>
      <xsd:element name="applicationName" type="xsd:string"/>
      <xsd:element name="hostname" type="xsd:string"/>
      <xsd:element name="httpPort" type="xsd:string"/>
      <xsd:element name="httpsPort" type="xsd:string" minOccurs="0"/>
      <xsd:element name="uri" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="stateEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ASSIGNED"/>
      <xsd:enumeration value="ALERTED"/>
      <xsd:enumeration value="COMPLETED"/>
      <xsd:enumeration value="ERRORED"/>
      <xsd:enumeration value="EXPIRED"/>
      <xsd:enumeration value="INFO_REQUESTED"/>
      <xsd:enumeration value="OUTCOME_UPDATED"/>
      <xsd:enumeration value="STALE"/>
      <xsd:enumeration value="SUSPENDED"/>
      <xsd:enumeration value="WITHDRAWN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="substateEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACQUIRED"/>
      <xsd:enumeration value="ADHOC_ROUTED"/>
      <xsd:enumeration value="ASSIGNED"/>
      <xsd:enumeration value="DELEGATED"/>
      <xsd:enumeration value="ESCALATED"/>
      <xsd:enumeration value="INFO_SUBMITTED"/>
      <xsd:enumeration value="PUSHED_BACK"/>
      <xsd:enumeration value="REASSIGNED"/>
      <xsd:enumeration value="RELEASED"/>
      <xsd:enumeration value="RENEWED"/>
      <xsd:enumeration value="RESUMED"/>
      <xsd:enumeration value="ROUTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="taskActionEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACQUIRE"/>
      <xsd:enumeration value="ADHOC_ROUTE"/>
      <xsd:enumeration value="AUTO_RELEASE"/>
      <xsd:enumeration value="COMPLETE"/>
      <xsd:enumeration value="DELEGATE"/>
      <xsd:enumeration value="ERROR"/>
      <xsd:enumeration value="ESCALATE"/>
      <xsd:enumeration value="EXPIRE"/>
      <xsd:enumeration value="INFO_REQUEST"/>
      <xsd:enumeration value="INFO_SUBMIT"/>
      <xsd:enumeration value="INITIATE"/>
      <xsd:enumeration value="OUTCOME_UPDATE"/>
      <xsd:enumeration value="OUTCOME_UPDATE_ROUTE"/>
      <xsd:enumeration value="OVERRIDE_ROUTING_SLIP"/>
      <xsd:enumeration value="PUSH_BACK"/>
      <xsd:enumeration value="REASSIGN"/>
      <xsd:enumeration value="REINITIATE"/>
      <xsd:enumeration value="RELEASE"/>
      <xsd:enumeration value="RENEW"/>
      <xsd:enumeration value="RESUME"/>
      <xsd:enumeration value="SKIP_CURRENT_ASSIGNMENT"/>
      <xsd:enumeration value="SUBTASK_OUTCOME_UPDATE"/>
      <xsd:enumeration value="SUSPEND"/>
      <xsd:enumeration value="UPDATE"/>
      <xsd:enumeration value="WITHDRAW"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="mailStatusEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERRORED"/>
      <xsd:enumeration value="RETRY"/>
      <xsd:enumeration value="SENT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="customAttributesType">
    <xsd:sequence>
      <xsd:element name="customAttributeString1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customAttributeString2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customAttributeNumber1" type="xsd:double" minOccurs="0"/>
      <xsd:element name="customAttributeNumber2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="customAttributeDate1" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="customAttributeDate2" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="systemMessageAttributesType">
    <xsd:sequence>
      <xsd:element name="textAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute11" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute12" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute13" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute14" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute15" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute16" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute17" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute18" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute19" type="xsd:string" minOccurs="0"/>
      <xsd:element name="textAttribute20" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="urlAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="dateAttribute1" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute2" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute3" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute4" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute5" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute6" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute7" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute8" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute9" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateAttribute10" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="numberAttribute1" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute3" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute4" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute5" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute6" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute7" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute8" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute9" type="xsd:double" minOccurs="0"/>
      <xsd:element name="numberAttribute10" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute11" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute12" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute13" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute14" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute15" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute16" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute17" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute18" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute19" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedTextAttribute20" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedFormAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute6" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute7" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute8" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute9" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedURLAttribute10" type="xsd:string" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute1" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute2" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute3" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute4" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute5" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute6" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute7" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute8" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute9" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedDateAttribute10" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute1" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute3" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute4" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute5" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute6" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute7" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute8" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute9" type="xsd:double" minOccurs="0"/>
      <xsd:element name="protectedNumberAttribute10" type="xsd:double" minOccurs="0"/>
      <xsd:element name="flexfieldMappings" type="tns:flexfieldMappingType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="flexfieldMappingType">
    <xsd:sequence>
      <xsd:element name="attributeLabel" type="xsd:string"/>
      <xsd:element name="flexfield" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="priorityType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="preActionUserStepsType">
    <xsd:sequence>
      <xsd:element name="preActionUserStep" type="tns:preActionUserStepType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="preActionUserStepType">
    <xsd:sequence>
      <xsd:element name="userStep" type="tns:preActionUserStepEnum"/>
      <xsd:element name="outcome" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="preActionUserStepEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="VIEW_DETAILS"/>
      <xsd:enumeration value="PROVIDE_COMMENTS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="assignmentContextCreatorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SYSTEM"/>
      <xsd:enumeration value="USER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="assignmentContextValueEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RESOURCE"/>
      <xsd:enumeration value="STATIC"/>
      <xsd:enumeration value="XPATH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="assignmentContextTypeValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="tns:assignmentContextValueEnum" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="assignmentContextType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="value" type="tns:assignmentContextTypeValueType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="tns:assignmentContextCreatorEnum" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="decomposeTaskInfo" type="tns:decomposeTaskInfoType"/>
  <xsd:complexType name="decomposeTaskInfoType">
    <xsd:sequence>
      <xsd:element name="formName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="priority" type="tns:priorityType" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="tns:collectionTarget" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comment" type="tns:commentType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="taskNotificationMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DEFAULT"/>
      <xsd:enumeration value="NONE"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
