repo/OracleConsultingServices12c/DeveloperExtension/oimWorkspace/src/main/resources/oracle.ocs.workspace.iam/template/oim/workflow/ApprovalRules.wsdl

<wsdl:definitions xmlns:xsd      ="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl     ="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:java     ="http://schemas.xmlsoap.org/wsdl/java/"
                  xmlns:format   ="http://schemas.xmlsoap.org/wsdl/formatbinding/"
                  xmlns:soap     ="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12   ="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:plt      ="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:rules    ="http://xmlns.oracle.com/bpel/rules"
                  xmlns:tns      ="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules"
                  targetNamespace="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules"
                  name           ="ApprovalRules">
  <wsdl:types>
    <schema xmlns               ="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd           ="http://www.w3.org/2001/XMLSchema"
            xmlns:bpelpm        ="http://xmlns.oracle.com/bpel"
            xmlns:rules         ="http://xmlns.oracle.com/bpel/rules"
            elementFormDefault  ="qualified"
            attributeFormDefault="unqualified"
            xmlns:tns           ="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules"
            targetNamespace     ="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules">
      <include schemaLocation ="xsd/ApprovalRules.xsd"/>
    </schema>
    <schema xmlns               ="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd           ="http://www.w3.org/2001/XMLSchema"
            xmlns:bpelpm        ="http://xmlns.oracle.com/bpel"
            xmlns:rules         ="http://xmlns.oracle.com/bpel/rules"
            xmlns:tns           ="http://xmlns.oracle.com/bpel/rules"
            targetNamespace     ="http://xmlns.oracle.com/bpel/rules"
            elementFormDefault  ="qualified"
            attributeFormDefault="unqualified">
      <element name="int"      type="xsd:int"/>
      <element name="double"   type="xsd:double"/>
      <element name="string"   type="xsd:string"/>
      <element name="boolean"  type="xsd:boolean"/>
      <element name="byte"     type="xsd:byte"/>
      <element name="short"    type="xsd:short"/>
      <element name="long"     type="xsd:long"/>
      <element name="float"    type="xsd:float"/>
      <element name="integer"  type="xsd:integer"/>
      <element name="decimal"  type="xsd:decimal"/>
      <element name="dateTime" type="xsd:dateTime"/>
      <element name="duration" type="xsd:duration"/>
    </schema>
    <schema xmlns               ="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd           ="http://www.w3.org/2001/XMLSchema"
            xmlns:bpelpm        ="http://xmlns.oracle.com/bpel"
            xmlns:rules         ="http://xmlns.oracle.com/bpel/rules"
            xmlns:ns1           ="http://xmlns.oracle.com/bpel/workflow/approval"
            xmlns:ns2           ="http://xmlns.oracle.com/bpel/workflow/routingSlip"
            xmlns:tns           ="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules"
            targetNamespace     ="http://xmlns.oracle.com/bpel/workflow/taskDecision/ApprovalRules"
            elementFormDefault  ="qualified"
            attributeFormDefault="unqualified">
      <import namespace="http://xmlns.oracle.com/bpel"/>
      <import namespace="http://xmlns.oracle.com/bpel/rules"/>
      <import namespace="http://xmlns.oracle.com/bpel/workflow/routingSlip" schemaLocation="xsd/RoutingSlipList.xsd"/>
      <import namespace="http://xmlns.oracle.com/bpel/workflow/approval"    schemaLocation="xsd/ApprovalTask.xsd"/>
      <element name="callFunctionStateless">
        <complexType>
          <sequence>
            <element name="configURL"               type="string" minOccurs="0" maxOccurs="1"/>
            <element name="bpelInstance"            type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
            <element name="parameterList" minOccurs="1" maxOccurs="1">
              <complexType>
                <sequence>
                  <element ref="ns1:task"/>
                  <element ref="ns2:lists"/>
                  <element ref="ns2:substitutionRules"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
          <attribute name="name" type="NCName" use="required"/>
        </complexType>
      </element>
      <element name="callFunctionStatelessDecision">
        <complexType>
          <sequence>
            <element name="resultList" minOccurs="1" maxOccurs="1">
              <complexType>
                <sequence>
                  <element ref="ns2:lists"/>
                  <element ref="ns2:substitutionRules"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="callFunctionStateful">
        <complexType>
          <sequence>
            <element name="configURL"               type="string"                             minOccurs="0" maxOccurs="1"/>
            <element name="bpelInstance"            type="bpelpm:tBpelProcess"                minOccurs="0" maxOccurs="1"/>
            <element name="parameterList"                                                     minOccurs="1" maxOccurs="1">
              <complexType>
                <sequence>
                  <element ref="ns1:task"/>
                  <element ref="ns2:lists"/>
                  <element ref="ns2:substitutionRules"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
          <attribute name="name" type="NCName" use="required"/>
        </complexType>
      </element>
      <element name="callFunctionStatefulDecision">
        <complexType>
          <sequence>
            <element name="resultList" minOccurs="1" maxOccurs="1">
              <complexType>
                <sequence>
                  <element ref="ns2:lists"/>
                  <element ref="ns2:substitutionRules"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>

  <wsdl:message name="callFunctionStatelessMessage">
    <wsdl:part name="payload" element="tns:callFunctionStateless"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatelessDecisionMessage">
    <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatefulMessage">
    <wsdl:part name="payload" element="tns:callFunctionStateful"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatefulDecisionMessage">
    <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/>
  </wsdl:message>
  <wsdl:message name="decisionServiceError">
    <wsdl:part name="payload" element="tns:errorInfo"/>
  </wsdl:message>
  <wsdl:portType name="IDecisionService">
    <wsdl:operation name="callFunctionStateless">
      <wsdl:input  name="callFunctionStatelessInput"  message="tns:callFunctionStatelessMessage"/>
      <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/>
      <wsdl:fault  name="operationErroredFault"       message="tns:decisionServiceError"/>
    </wsdl:operation>
    <wsdl:operation name="callFunctionStateful">
      <wsdl:input  name="callFunctionStatefulInput"   message="tns:callFunctionStatefulMessage"/>
      <wsdl:output name="callFunctionStatefulOutput"  message="tns:callFunctionStatefulDecisionMessage"/>
      <wsdl:fault  name="operationErroredFault"       message="tns:decisionServiceError"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>